@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');
/*Selector universal*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
} 
/*selector por etiqueta*/
span {
    color:#ff4500;
}
/*selector por id*/
#option_one, #option_three{
    font-weight: 900;
    background-color: #7fffd4;
    margin-left: 20px;
}
/*selector por clase*/
.options_group{
    background-color: #fff;/*#000000*/
}
.options_group.other_option{
    font-size: 50px;
}
/*selector por atributo*/
[disabled]{
    background-color: #ff0000;
}
