@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');
/*Selector universal*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
} 
/*selector por etiqueta*/
span {
    color:#ff4500;
}
/*selector por id*/
#option_one, #option_three{
    font-weight: 900;
    background-color: #7fffd4;
    margin-left: 20px;
}
/*selector por clase*/
.options_group{
    background-color: #fff;/*#000000*/
}
.options_group.other_option{
    font-size: 50px;
}
/*selector por atributo*/
[disabled]{
    background-color: #ff0000;
}
/*selector por id*/
#title_box{
    color: #0000ff;
    background-color: #f0ffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: lowercase;
    margin: 10px 20px 15px 25px;
    border: 3px solid #000;
    border-radius: 10px;
    padding: 50px;
    word-spacing: 15px;
    letter-spacing: 8px;
    font-size: 30px;
    box-shadow: 0px 0px 10px 2px blue;
}
#box_father{
    background-color: #000;
    width: 300px;
    height:300px;
    background-image: url(https://img.freepik.com/premium-photo/cute-capybara-farm-is-taking-bath_361141-902.jpg?w=2000);
    background-position: center;
    background-size: cover;

}
/* #box_model{
    background-color: #ff4500;
    width: 50%;
    height: 50%;
} */
/*aplicacion de media queris*/
@media (min-width: 800px) and (max-width: 1200px) {
    body {
        background-color: #ff0000;
    }
    #title_box{
        text-align: left;
    }
}

@media (max-width: 799px) {
    body{
        background-image: url(https://img.freepik.com/premium-photo/cute-capybara-farm-is-taking-bath_361141-902.jpg?w=2000);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
    

